.footer {
    width: 100%;
    padding: 20px;
    color: var(--color-black);
    font-size: 1em;
    background-color: var(--color-gray-100);
}
@media only screen and (max-width: 1024px) {
    .footer {
        text-align: center;
        font-size: 0.9em;
    }
}