.footer {
    width: 100%;
    padding: 20px;
    color: var(--color-black);
    font-size: 1em;
    background-color: var(--color-gray-100);
}
.dark {
    position: fixed;
    bottom: 5%;
    left: 5%;
    background-color: var(--color-black);
    color: var(--color-white);
    z-index: 99999;
}
@media only screen and (max-width: 1024px) {
    .footer {
        text-align: center;
        font-size: 0.9em;
    }
}