#loadPageCompo {
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    transition: 0.3s opacity;
    background: var(--color-white);
  }
  #loadPageCompo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }