@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
.main {
    background: url(../img/wood2.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}
.overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}
.main-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 100px;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    width: 100%;
}
.main-desc h1 {
    font-size: 3em;
    font-weight: bold;
}
.main-desc p {
    max-width: 36em;
    font-size: 1.3em;
}
.main-desc button {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.2em;
    outline: none;
    background-color: var(--color-white);
    border: none;
    color: var(--color-gold);
    padding: 10px 20px;
}
.product-img {
    width: 100%;
}
.video-section {
    position: relative;
}
.video video{
    width: 100%;
    height: calc(100vw * 9 / 16);
    max-height: 700px;
}
.video-desc {
    text-align: center;
    z-index: 999;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-white);
}
.video-desc h1 {
    font-size: 2em;
    font-weight: bold;
}
.video-desc p {
    margin-top: 10px;
    width: 34em;
}
.img-container {
    background-image: url(../img/zdj-2.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.socials {
    position: fixed;
    top: 50%;
    left: 5px;
    transform: translate(0%, -50%);
}
.socials i {
    margin-top: 5px;
}
.realizations {
    text-align: center;
}
.realizations h1 {
    font-size: 3em;
    font-weight: bold;
}
.contact h2 {
    font-size: 1.1em;
    font-weight: bold;
}
.logo-desc {
    width: 140px;
}
.text {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 1.1em;
}
.text i {
    margin-right: 5px;
    color: var(--color-gold);
}
.lines {
    line-height: 7px;
}
.line-1 {
    width: 100px;
    height: 2px;
    background: var(--color-gold);
    display: inline-block;
}
.line-2 {
    width: 70px;
    height: 2px;
    background: var(--color-gold);
    display: inline-block;
}
.slider {
    margin-top: 10px;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 200px;
    height: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 768px) {
    .line-1 {
        width: 80px;
        height: 2px;
        background: var(--color-gold);
        display: inline-block;
    }
    .line-2 {
        width: 50px;
        height: 2px;
        background: var(--color-gold);
        display: inline-block;
    }
    .main {
        height: 90vh;
    }
    .overlay {
        height: 90vh;
    }
    .main-desc {
        padding-left: 5px;
        padding-right: 5px;
        color: var(--color-white);
        width: 100%;
        text-align: center;
    }
    .main-desc h1 {
        font-size: 2em;
        font-weight: bold;
    }
    .main-desc p {
        max-width: 36em;
        font-size: 1.2em;
    }
    .main-desc button {
        font-weight: 500;
        font-size: 1.2em;
        outline: none;
        background-color: var(--color-white);
        border: none;
        color: var(--color-gold);
        padding: 10px 20px;
    }
    .video-desc h1 {
        font-size: 2em;
        font-weight: bold;
    }
    .video-desc p {
        font-size: 1em;
        margin-top: 10px;
        width: 80vw;
    }
    .text {
        margin-top: 2px;
    }
    .logo-desc {
        width: 110px;
    }
    .contact {
        justify-content: center;
        flex-direction: column;
        font-size: 13px;
    }
    .map {
        margin-top: 10px;
    }
    .realizations h1 {
        font-size: 2em;
        font-weight: bold;
    }
}