.social {
    position: fixed;
    top: 50%;
    Left: 0;
    transform: translateY(-50%);
    z-index: 100;
 }
 .social ul {
    margin: 0;
    padding: 0;
 }
 .social ul li {
    list-style: none;
    margin: 5px 0;
 }
 .social ul li a {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 35px;
    color: var(--color-white);
    background-color: var(--color-gold);
    display: block;
    text-align: center;
    position: relative;
 }
 .social ul li a span {
    position: absolute;
    top: 0;
    left: -120px;
    width: 120px;
    height: 60px;
    color: var(--color-white);
    background-color: var(--color-gold);
    font-size: 20px;
    z-index: -1;
    opacity: 0;
    backface-visibility: hidden;
    transition: 0.5s;
    font-weight: bold;
 }
 .social ul li:hover span {
    opacity: 1;
    backface-visibility: hidden;
    left: 50px;
 }
 #icon:before {
     color: var(--color-white);
     content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='26' height='26'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M11.38 2.019a7.5 7.5 0 1 0 10.6 10.6C21.662 17.854 17.316 22 12.001 22 6.477 22 2 17.523 2 12c0-5.315 4.146-9.661 9.38-9.981z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");");

 }
 .dark-mode #icon:before {
     content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='26' height='26'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 18a6 6 0 1 1 0-12 6 6 0 0 1 0 12zM11 1h2v3h-2V1zm0 19h2v3h-2v-3zM3.515 4.929l1.414-1.414L7.05 5.636 5.636 7.05 3.515 4.93zM16.95 18.364l1.414-1.414 2.121 2.121-1.414 1.414-2.121-2.121zm2.121-14.85l1.414 1.415-2.121 2.121-1.414-1.414 2.121-2.121zM5.636 16.95l1.414 1.414-2.121 2.121-1.414-1.414 2.121-2.121zM23 11v2h-3v-2h3zM4 11v2H1v-2h3z'/%3E%3C/svg%3E");
     background: none;
 }
 @media only screen and (max-width: 768px) {
    .social ul li a span {
        font-size: 16px;
        height: 50px;
     }
     .social ul li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 25px;
     }
 }
